# IMPORTANT !!!
# if you have any error about xverse please see: https://github.com/kahramankostas/IoTDevIDv2/issues/2

pandas==1.3.5 
scikit-learn
scipy 
numpy 
matplotlib
xverse
graphviz 
seaborn 
scapy
